<div class="col-md-5">
  <h2>Login</h2>
  <% if flash[:danger] %>
  <p class="alert alert-danger"><%= flash[:danger] %></p>
  <% end %>
  <%= form_for(:session, url: sessions_path) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

    </div>
    <div class="form-group">
      <%= f.submit "Log in", class: "btn btn-default" %>
    </div>
  <% end %>
  <div class="alert alert-warning">Don't have an account? <%= link_to('Create one now!', new_user_path) %></div>
</div>
