<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<% if @cart.empty? %>
  <h3>Your cart is empty.</h3>
<% else%>
  <h3>Your cart contains <%= @cart.count %> items: </h3>
  <div class="col-md-8">

  <%= form_for @cart, url: update_cart_quantity_path do |f| %>
    <table class="table table-striped">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th class="text-right">Total</th>
      </tr>
      <% @cart.line_items.each_with_index do |item, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= item.book.name %></td>
          <td>
            <%= f.fields_for :line_items, item do |item_form| %>
              <%= item_form.hidden_field :id %>
              <%= item_form.number_field :quantity, style: 'width: 35px' %>
            <% end %>
          </td>
          <td><%= item.price %>€</td>
          <td class="text-right"><%= item.quantity * item.price %>€</td>
        </tr>
      <% end %>
      <tr>
        <td colspan="5"></td>
      </tr>
      <tr>
        <td colspan="5" class="text-right">
          <%= f.submit 'Update Cart', class: 'btn btn-default' %>
        </td>
      </tr>
    </table>
  <% end %>
  </div>
  <div class="col-md-4 text-right checkout-side">
    <div>
      <h3>Order Total: <%= @cart.total %>€</h3>
    </div>
    <a href="<%= add_order_address_path %>" class="btn btn-default">Go to Checkout</a>
  </div>
<% end %>
