<div class="col-md-5">
  <h2>Login</h2>
  <% if flash[:danger] %>
  <p class="alert alert-danger"><%= flash[:danger] %></p>
  <% end %>
  <%= form_for(:admin, url: admin_session_path) do |f| %>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

    </div>
    <div class="form-group">
      <%= f.submit "Log in", class: "btn btn-default" %>
    </div>
  <% end %>
</div>
