<% if @orders.empty? %>
  There aren't any orders
<% else %>
  <table class="table table-bordered">
    <tr>
      <th>Order id</th>
      <th>Order date</th>
      <th>Number of items</th>
      <th>Total</th>
      <th>User</th>
      <th>Action</th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %>
        <td>
          <%= order.created_at %>
        </td>
        <td><%= order.item_count %></td>
        <td><%= number_to_currency(order.total_with_tax + order.shipping_cost, unit: '€', precision: 2) %></td>
        <td><%= link_to(order.user.try(:name), '#') %></td>
        <td><%= link_to('View details', order_path(order)) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
