<% if @users.empty? %>
  There aren't any users
<% else %>
  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Date registered</th>
      <th>Number of orders</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %>
        <td>
          <%= user.email %>
        </td>
        <td><%= user.created_at %></td>
        <td><%= user.orders.count %></td>
      </tr>
    <% end %>
  </table>
<% end %>
