<h3>Order details</h3>
<h4>Items in the order:</h4>

<table class="table table-bordered">
  <tr>
    <th>Book title</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  <% @order.line_items.each do |item| %>
    <tr>
      <td><%= link_to(item.book.name, book_path(item.book.id)) %></td>
    <td><%= item.quantity %></td>
    <td><%= number_to_currency(item.price, unit: '€', precision: 2) %></td>
    </tr>
  <% end %>
</table>

<h4>Items in the order:</h4>
<table class="table-bordered table">
  <tr>
    <td>Shipping cost</td>
    <td><%= number_to_currency(@order.shipping_cost, unit: '€', precision: 2) %><br></td>
  </tr>
  <tr>
    <td>Payed with</td>
    <td><%= @order.payment_type %></td>
  </tr>
  <tr>
    <td>Tax</td>
    <td><%= number_to_currency(@order.tax, unit: '€', precision: 2) %></td>
  </tr>
</table>
<br><br><br>
<%= link_to('Back to orders', orders_path) %>
