<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <%= raw "<img src='data:image/png;base64,#{@book.cover}' class=\"book-image\">" %>
  </div>
  <div class="col-md-6 col-sm-6">
    <h3><%= @book.name %></h3>
    <h4 class="m-t-20">
      <%= link_to(@book.author.name, @book.author, class: 'block') %>
    </h4>
    <div class="book-price m-t-20">
      <%= @book.price %> €
    </div>
    <a type="button" class="btn btn-default navbar-btn"
       href="<%= add_to_cart_path(@book) %>">Add to Cart</a>
  </div>
</div>
