// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkout-side {
  a {
    display: inline-block;
    margin-top: 25px;
  }
}

.free-shipping {
  background: orange;
}
