<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <ul class="nav navbar-nav">
          <li>
            <a class="navbar-brand" href="<%= root_url %>">
              <%= image_tag 'logo.png', id: 'logo' %>
              <span>book-a-book</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="nav navbar-nav">
          <li>
            <div class="input-group">
              <input type="hidden" name="search_param" value="all" id="search_param">
              <input type="text" class="form-control" name="x" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <ul class="nav navbar-nav pull-right navbar-right">
          <% if logged_in? && !admin_logged_in?%>
            <li><%= link_to 'Cart', view_cart_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Settings", settings_path %></li>
                <li><%= link_to "Orders", orders_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% elsif admin_logged_in? %>
            <li><%= link_to 'Orders', admin_orders_path %></li>
            <li><%= link_to 'Users', admin_users_path %></li>
          <% else %>
            <li><%= link_to "Log in", new_session_path %></li>
            <li><%= link_to 'Register', new_user_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
