<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>

<h3>New releases</h3>
<div class="new-releases">
  <%= render 'book_item', books: @new_books %>
</div>

<h3>Bestsellers</h3>
<div class="best-sellers">
  <%= render 'book_item', books: @best_books %>
</div>
