<!DOCTYPE html>
<html>
  <head>
    <title>Bookbook</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'header' %>
    <div style="padding-top: 15px;" class="container main-container">
      <div class="row">
        <div class="col-sm-2 col-md-2">
          <%= render 'sidebar', categories: @categories %>
        </div>
        <div class="col-sm-10 col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
